@import url("general.css");
.formulario{
    background: var(--color_secundario);
    text-align: center;
    max-width: 500px;
    height: 500px;
    width: 300px;
    margin-top:80px;
    border-radius: 20px;
    border:black;
}
.alineacion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: flex-start;   
    margin-left: 20px;
    
}
.campo{
    margin-top: 10px;
    border-radius: 5px;
    width: 90%;
    align-self: center;
    margin-right: 20px;
    height: 30px;
    
}
.text2{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;   
    margin-left: 20px;
    
}
.fondo{
    background: var(--color_principal);
}
.enviar{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;   
    margin-right: 20px;
    
}
button{
    height: 50px;
    width: 80px;
    border-radius: 15px;
}
.enlaces{
    margin-top: 50px;
}
