.contenedor{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}
.contenedor input{
    display: flex;
    align-self: flex-start;
    height: 65px;
    width: 700px;
    font-size: 60px;
    margin: 0;
    }
.campo h3{
    margin: 0;  
    margin-top: 100px;
    
}
.campo button{
    margin-top: 100px;
    height: 100px;
    width: 250px;
    border-radius: 20px;
    font-size: 50px;
}
.campo img{
 
}
.foto_perfil{
    position: relative;
    transition: opacity 0.3s ease;
     margin-top: 40px;
    border-radius: 50%; 
    object-fit: cover;
}
.icono{
    position:absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 25%; 
    height: auto; 
    z-index: 1;
    opacity: 0;
}
.foto_perfil button{
    border: none;
    background: none;
    
}
.foto_perfil:hover img:not(.icono) {
    opacity: 0.6;
}


.foto_perfil:hover .icono {
    opacity: 1; 
}
.foto_user {
    width: 250px;          
    height: 250px;        
    border-radius: 50%;    
    object-fit: cover;     
    display: block;        
}


